.error-indicator {
    border-radius: 8px;
    display: -webkit-flex;
    padding: 100px;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: space-around;
    text-align: center;
    height: 200%;
}

.error-indicator img {
    margin: auto;
    border-radius: 8px;
}

.error-indicator .warning{
    margin: 40px;
    font-size: 20px;
    font-weight: 700;
}

